#header{
    text-align: center;
    font-size: 36px;
    padding: 0px;
    margin-top: 15px;
}
h2{
    margin: 0px !important;
}

#header .text{
    font-size: 16px;
    padding-bottom: 15px;
    margin: 0px;
    text-align: right;
}
#header img{
    width: 15px;
    height: 15px;
}

.searching{
    margin: auto;
    padding: 10px;
    text-align-last: justify;
}

.search-icon{
    width: 35px;
    height: 35px;
}

.search-button{
    background-color: #fff;
    border: none;
    padding: 0;
    margin: 0;
}

.searchcontent{
    width: 80%;
    padding: 0px;
}

.jumbotron-test{
    padding: 20px;
    margin: auto;
    padding-bottom: 55px;
}

.jumbotron-login{
    padding: 20px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 120px;
}

.topic{
    padding-left: 10px;
    padding-right: 10px;

    margin: 0px;
    font-size: 14px;
    text-align: rigth;
    border-radius: 10px;
    background-color: #AED6F1;
}

.answer{
    width: 100% !important;
    text-align: left;
}

.correct{
    background-color: #66ff66;
}

.incorrect{
    background-color: #ff3333;
}

.signed{
    background-color: #3385ff;
}

.you{
    font-weight: bold;
}









/* ------------------------
    Padding
------------------------*/
.px-2{padding-left: 20px !important; padding-right: 20px !important;}
.px-10{padding-left: 100px !important; padding-right: 100px !important;}
.px-15{padding-left: 150px !important; padding-right: 150px !important;}
.px-20{padding-left: 200px !important; padding-right: 200px !important;}

.py-8{padding-top: 80px !important; padding-bottom: 80px !important;}
.py-10{padding-top: 100px !important; padding-bottom: 100px !important;}
.py-15{padding-top: 150px !important; padding-bottom: 150px !important;}
.py-20{padding-top: 200px !important; padding-bottom: 200px !important;}

.pr-10{padding-right: 100px !important;}
.pt-8{padding-top: 80px !important;}
.pt-10{padding-top: 100px !important;}
.pt-15{padding-top: 150px !important;}
.pt-20{padding-top: 200px !important;}
.pb-1{padding-bottom: 10px !important;}
.pb-2{padding-bottom: 20px !important;}
.pb-4{padding-bottom: 40px !important;}
.pb-6{padding-bottom: 60px !important;}
.pb-8{padding-bottom: 80px !important;}
.pb-10{padding-bottom: 100px !important;}
.pb-15{padding-bottom: 150px !important;}
.pb-17{padding-bottom: 170px !important;}
.pb-20{padding-bottom: 200px !important;}

.p-0{padding: 0px !important;}


/* ------------------------
    Margin
------------------------*/
.mt-8{margin-top: 80px !important;}
.mt-10{margin-top: 100px !important;}
.mt-15{margin-top: 150px !important;}

.mx-2{margin-left: 20px !important; margin-right: 20px !important;}
.my-05{margin-top: 5px !important; margin-bottom: 5px !important;}
.my-1{margin-top: 10px !important; margin-bottom: 10px !important;}
.my-2{margin-top: 20px !important; margin-bottom: 20px !important;}
.my-4{margin-top: 40px !important; margin-bottom: 40px !important;}
.my-6{margin-top: 60px !important; margin-bottom: 60px !important;}
.my-8{margin-top: 80px !important; margin-bottom: 80px !important;}
.my-10{margin-top: 100px !important; margin-bottom: 100px !important;}
.my-15{margin-top: 150px !important; margin-bottom: 150px !important;}
.my-20{margin-top: 200px !important; margin-bottom: 200px !important;}

